<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARMNewViewReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ARMNewViewReports.Properties.Settings>
            <setting name="OtraslPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RashGodFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OtraslMesplPath" serializeAs="String">
                <value />
            </setting>
            <setting name="KontrolFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SNSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PathForN" serializeAs="String">
                <value />
            </setting>
            <setting name="PathForS" serializeAs="String">
                <value />
            </setting>
            <setting name="PathForExplorer" serializeAs="String">
                <value />
            </setting>
            <setting name="PathForReports" serializeAs="String">
                <value />
            </setting>
            <setting name="MaterFolderPath" serializeAs="String">
                <value />
            </setting>
        </ARMNewViewReports.Properties.Settings>
    </userSettings>
</configuration>