<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BallisticWind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BallisticWind.Properties.Settings>
            <setting name="encodingReport" serializeAs="String">
                <value>DOS</value>
            </setting>
            <setting name="correctionKama" serializeAs="String">
                <value />
            </setting>
        </BallisticWind.Properties.Settings>
    </userSettings>
</configuration>